# Environments
.venv/
venv/

# Python cache/build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Saved Models
*.zip

# Logs
wordle_tensorboard/
runs/

# IDE files
.idea/
.vscode/

# Python cache
**/__pycache__/

# Webapp local config
webapp/.env
webapp/.env.integration
webapp/.env.test
